<!DOCTYPE html>
<html>

<head>
    <title>Order Confirmation</title>
</head>

<body>

    <h2>Hello {{ username }},</h2>

    <p>Your order has been placed successfully.</p>

    <hr>

    <p><strong>Order Number:</strong> {{ order_number }}</p>

    <p><strong>Subtotal:</strong> ₹{{ subtotal }}</p>

    <p><strong>Tax:</strong> ₹{{ tax }}</p>

    <p><strong>Shipping:</strong> ₹{{ shipping_charge }}</p>

    <p><strong>Discount:</strong> ₹{{ discount }}</p>

    <p><strong>Grand Total:</strong> ₹{{ grand_total }}</p>

    <hr>

    <p>Thank you for shopping with us.</p>

</body>

</html>