<!DOCTYPE html>
<html>

<head>
    <title>Payment Successful</title>
</head>

<body>

    <h2>Hello {{ username }},</h2>

    <p>Your payment has been completed successfully.</p>

    <hr>

    <p><strong>Payment Reference:</strong> {{ payment_reference }}</p>
    <p><strong>Order Number:</strong> {{ order_number }}</p>
    <p><strong>Amount:</strong> ₹{{ amount }}</p>
    <p><strong>Payment Method:</strong> {{ payment_method }}</p>

    <hr>

    <p>Thank you for shopping with us.</p>

</body>

</html>